Django==3.2.24                 ; python_version < '3.12'
Django==4.2.30                 ; python_version >= '3.12'
django-classy-tags==4.1.0
django-cms==5.0.9
django-sekizai==4.1.0
django-treebeard==4.7.1        ; python_version < '3.12'
django-treebeard==4.8.0        ; python_version >= '3.12'
pytest-django==4.8.0           ; python_version < '3.12'
pytest-django==4.14.0          ; python_version >= '3.12'
