{% load i18n poll_tags sekizai_tags %}
{% addtoblock "css" %}
<style>
  .cmsplugin_poll
  {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    position: relative;
  }

  .cmsplugin_poll .messages .error
  {
    color: red;
  }

  .cmsplugin_poll .info
  {
    font-size: 75%;
    color: grey;
  }

  .cmsplugin_poll ul
  {
    list-style-position: inside;
    padding-left: 0.5em;
  }
  label {
    display: block;
  }
  input[type="submit"] {
    margin-top: 5px;
  }
  .checkbox, .radio {
    margin-left: 40px;
  }
</style>
{% endaddtoblock %}

<dk-panel>
  <h3>{% trans "Poll" %}</h3>

  {% show_results request poll as show_results %}
  {% if show_results %}
    {% include 'cmsplugin_poll/results.html' %}
  {% else %}
    <div>
      <h4>{{ poll.question }}</h4>

      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}.
            </span>
          {% endfor %}
        </div>
      {% endif %}
      <form action="/poll/{{ poll.id }}/vote/" method="post">
        {% csrf_token %}
        {% for choice in poll.choice_set.iterator %}
          <label for="choice{{ forloop.counter }}" class="radio">
            <input type="radio" name="choice"
                   id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            {{ choice.choice }}
          </label>
        {% endfor %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="submit" value='{% trans "Vote" %}' />
      </form>
      <span class="info">
        {% trans 'Please vote to see the results.' %}
      </span>
    </div>
    {% endif %}
</dk-panel>
